<a href="https://colab.research.google.com/github/Lucas-Abrahao/Alura-Python-para-DS/blob/main/Alura_Python_para_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para DataScience: Primeiros Passos

##Criando uma função

In [ ]:
nome = 'Lucas'
idade = 23

In [ ]:
print(f'O meu nome é {nome} e tenho {idade} anos')

O meu nome é Lucas e tenho 23 anos

In [ ]:
def saudacao ():
  nome = input("Qual seu nome ? ")
  print(f'Olá {nome}')

##Função saudação

In [ ]:
saudacao()

Qual seu nome ? lucas
Olá lucas

##saudação com parametros

In [ ]:
def saudacao_p(nome_da_pessoa):
  print(f'Olá {nome_da_pessoa}')

In [ ]:
saudacao_p('bia')

## Condicional

In [ ]:
idade = int(input("Qual sua idade ? "))

def pode_dirigir(idade):
  if idade >= 18 :
    print('Pode dirigir')
  else:
    print("Não pode dirigir")

pode_dirigir(idade)

## loop

In [ ]:
idades = [18, 22, 15, 50]
idades

In [ ]:
def verifica_se_pode_dirigir(idades):
  for idade in idades:
    if idade >= 18:
      print(f'{idade} anos, Tem permissão para dirigir')
    else:
      print(f'{idade} anos, Não Tem permissão para dirigir')

verifica_se_pode_dirigir(idades)

## Boleano

In [ ]:
idades = [20, 14, 40]
permissoes = []

for idade in idades:
  if idade > 18:
    permissoes.append(True)
  else:
    permissoes.append(False)

permissoes

##Tipos em lista

In [ ]:
lista = ['Lucas', 23, True, "51"]

for item in lista:
  print(f'O item {item} da lista é do tipo: ', type(item))

## Import

In [ ]:
from random import randrange

randrange(0,11)

In [ ]:
notas_mat = []

for notas in range (8):
  notas_mat.append(randrange(0,11))

notas_mat

## Matplotlib

In [ ]:
import matplotlib.pyplot as plt

x = list(range(1,9))
y = notas_mat

plt.plot(x, y, marker = 'o')

plt.title('Notas de Matematica')
plt.xlabel('Provas')
plt.ylabel('Notas')

plt.show()

# Python para DataScience: Introdução a Linguagem e NumPy

## Verificando a versão do Python

In [ ]:
!python -V

## Trabalhando com Arrays Numpy

In [ ]:
import numpy as np

## Carregando arquivos .txt

In [ ]:
km = np.loadtxt('/carros-km.txt')

Atribuindo Tipo as variaveis do Arquivo

In [ ]:
anos = np.loadtxt('/carros-anos.txt',dtype = int)

## Obter a Kilometragem Média Por Ano

In [ ]:
km_media = km / (2021 - anos)

In [ ]:
km_media

## Operações Matemáticas com Python

Adição (+)

In [ ]:
2+2

Subtração (-)

In [ ]:
4-2

Multiplicação (*)

In [ ]:
2*2

Divisão (/) e (//)

In [ ]:
10/3

In [ ]:
10//3

Exponenciação (**)

In [ ]:
2**3

Resto da Divisão (%)

In [ ]:
10%3

Expressões Matemáticas

In [ ]:
5*2+3*2

In [ ]:
(5*2)+(3*2)

In [ ]:
5*(2+3)*2

A Variável _

In [ ]:
_

In [ ]:
_ /2

In [ ]:
_ - 15

## Conversão de Tipos

In [ ]:
a = 30
b = 20
pi = 3.141592
c = 'Lucas'
d = ' Abrahão'

In [ ]:
a + b

In [ ]:
type(a)

In [ ]:
str(a)

In [ ]:
type(str(a))

In [ ]:
c + d

## Formatação de Strings

str.format()

In [ ]:
print('Olá {}!'.format('Lucas'))

In [ ]:
print('Olá {}, Este é seu acesso de número {}'.format('Lucas',5489))

In [ ]:
print('Olá {nome}, Este é seu acesso de número {acessos}'.format(nome = 'Lucas', acessos = 5489))

f-strings

In [ ]:
nome = 'Lucas'
acessos = 5489

In [ ]:
print(f'Olá {nome}, Este é seu acesso de número {acessos}')

## Listas

In [ ]:
Acessorios = ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']
Acessorios

In [ ]:
type(Acessorios)

In [ ]:
Carro_1 = ['Jetta Variant', 'Motor 4.0 Turbo', 2003, 44410.0, False, ['Rodas de liga', 'Travas elétricas', 'Piloto automático'], 88078.64]

In [ ]:
Carro_1

In [ ]:
Carro_2 = ['Passat', 'Motor Diesel', 1991, 5712.0, False, ['Central multimídia', 'Teto panorâmico', 'Freios ABS'], 106161.94]

In [ ]:
Carro_2

In [ ]:
carros = [Carro_1,Carro_2]
carros

### Operações com Listas

#### x in A

retorna True se um elemento da Lista A for igual a x

In [ ]:
Acessorios

In [ ]:
'Rodas de liga' in Acessorios

In [ ]:
'4 x 4' in Acessorios

In [ ]:
'Rodas de liga' not in Acessorios

In [ ]:
'4 x 4' not in Acessorios

#### A +B

Concatena Duas Listas

In [ ]:
A = ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro']
B = ['Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']

In [ ]:
A

In [ ]:
B

In [ ]:
A + B

In [ ]:
C = A + B

In [ ]:
C

#### len(A)

Tamanho da Lista

In [ ]:
len(C)

###Seleções em listas

In [ ]:
Acessorios

In [ ]:
Acessorios[0]

In [ ]:
Acessorios[3]

In [ ]:
Acessorios[-1]

In [ ]:
carros[0]

In [ ]:
carros[0][0]

In [ ]:
carros[0][-2]

In [ ]:
carros[0][-2][1]

Slices
 A [I:J]

I é o primeiro valor da lista

J é o final, não entra na lista, somente o anterior

In [ ]:
Acessorios

In [ ]:
Acessorios[2:5]
#2 = Piloto Automatico
#5 = Sensor de Estacionamento

In [ ]:
Acessorios[2:]
# Não colocar nada significa ir até o final da lista

In [ ]:
Acessorios[:5]
#O mesmo é valido no começo

### Métodos em Listas

In [ ]:
Acessorios

In [ ]:
Acessorios.sort()
#Ordena alfabéticamente ou numéricamente
Acessorios

In [ ]:
Acessorios.append('4x4')
#Adiciona um item ao final da Lista
Acessorios

In [ ]:
Acessorios.pop()
#remove um item da lista, se não houver numero no indice remove o ultimo item

In [ ]:
Acessorios

In [ ]:
Acessorios2 = Acessorios.copy()
#Copia a lista
Acessorios2

In [ ]:
Acessorios2.append('4 x 4')

In [ ]:
Acessorios.append('Travas elétricas')

In [ ]:
Acessorios

In [ ]:
Acessorios2

In [ ]:
Acessorios.copy()
#É equivalente a
Acessorios[:]

Acessorios2 = Acessorios.copy()
#          OU
Acessorios2 = Acessorios[:]

##Estruturas de Repetição

In [ ]:
quadrado = []

for i in range(10):
  quadrado.append( i ** 2)

quadrado

In [ ]:
[i ** 2 for i in range (10)]

###Loops Aninhados

In [ ]:
dados = [ 
    ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva'],
    ['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4', 'Painel digital', 'Piloto automático', 'Bancos de couro', 'Câmera de estacionamento'],
    ['Piloto automático', 'Controle de estabilidade', 'Sensor crepuscular', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Central multimídia', 'Vidros elétricos']
]
dados

In [ ]:
for lista in dados:
  print(lista)

In [ ]:
for lista in dados:
  for item in lista:
    print(item)

In [ ]:
acessorios = []

for lista in dados:
  for item in lista:
    acessorios.append(item)

acessorios

set()

In [ ]:
list(set(acessorios))

OU

In [ ]:
list(set([item for lista in dados for item in lista]))

##IF

In [ ]:
# 1º item da lista - Nome do veículo
# 2º item da lista - Ano de fabricação
# 3º item da lista - Veículo é zero km?

dados = [
    ['Jetta Variant', 2003, False],
    ['Passat', 1991, False],
    ['Crossfox', 1990, False],
    ['DS5', 2019, True],
    ['Aston Martin DB4', 2006, False],
    ['Palio Weekend', 2012, False],
    ['A5', 2019, True],
    ['Série 3 Cabrio', 2009, False],
    ['Dodge Jorney', 2019, False],
    ['Carens', 2011, False]
]
dados

Mostre Apenas os Veículos Zero KM

In [ ]:
zero_km = []

for lista in dados:
  if(lista[2] == True):
    zero_km.append(lista)

zero_km

In [ ]:
zero_km_f = []

for lista in dados:
  if(lista[2] == False):
    zero_km_f.append(lista)

zero_km_f

OU

In [ ]:
[lista for lista in dados if lista[2] == True]

## Array e NumPy

Importando

In [ ]:
import numpy

usando arange

In [ ]:
numpy.arange(10)

Importando todo o pacote e atribuindo um novo nome

In [ ]:
import numpy as np

In [ ]:
np.arange(10)

Importando parte do Pacote

In [ ]:
from numpy import arange

In [ ]:
arange(10)

## Criando Arrays Numpy

A partir de Listas

In [ ]:
km = np.array([1000, 2300, 4937])

In [ ]:
km

In [ ]:
type(km)

In [ ]:
km.dtype

A partir de dados externos

In [ ]:
km = np.loadtxt(fname = '/carros-km.txt', dtype = int)

In [ ]:
km

In [ ]:
km.dtype

In [ ]:
dados = [ 
    ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva'],
    ['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4', 'Painel digital', 'Piloto automático', 'Bancos de couro', 'Câmera de estacionamento'],
    ['Piloto automático', 'Controle de estabilidade', 'Sensor crepuscular', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Central multimídia', 'Vidros elétricos']
]
dados

In [ ]:
acessorios = np.array(dados)

In [ ]:
acessorios

In [ ]:
km.shape

In [ ]:
acessorios.shape

Comparando desempenho com listas

In [ ]:
np_array = np.arange(1000000)

In [ ]:
py_list = list(range(1000000))

In [ ]:
%time for _ in range (100): np_array *= 2

In [ ]:
%time for _ in range (100) : py_list = [ x * 2 for x in py_list]

##Operações Aritméticas com Array Numpy

operações entre arrays e constantes

In [ ]:
km = [44410., 5712., 37123., 0., 25757.]
anos = [2003, 1991, 1990, 2019, 2006]

In [ ]:
idade = 2021 - anos

In [ ]:
km = np.array([44410., 5712., 37123., 0., 25757.])
anos = np.array([2003, 1991, 1990, 2019, 2006])

In [ ]:
idade = 2021 - anos

In [ ]:
idade

##Operações entre arrays

In [ ]:
km_media = 0
km_media = km / idade

In [ ]:
km_media

##Operações com Arrays de duas dimensões

In [ ]:
dados = np.array([km, anos])
dados

In [ ]:
dados.shape

In [ ]:
dados[0]

In [ ]:
dados[1]

In [ ]:
km_media = dados[0] / ( 2021 - dados[1])
km_media

##Seleções com Arrays Numpy

In [ ]:
dados[1][2]

In [ ]:
dados[1,2]

##Fatiamento

In [ ]:
contador = np.arange(10)
contador

In [ ]:
contador[1:4]

In [ ]:
contador[1:8:2]

In [ ]:
contador[::2]

In [ ]:
contador[1::2]

In [ ]:
dados

In [ ]:
dados[:, 1 :4]

In [ ]:
dados[:, 1 :3]

##Indexação com Array Booleano

In [ ]:
contador = np.arange(10)
contador

In [ ]:
contador > 5

In [ ]:
contador [contador > 5]

In [ ]:
contador [[False, False, False, False, False, False,  True,  True,  True,
        True]]

In [ ]:
dados

In [ ]:
dados[1] > 2000

In [ ]:
dados[:,dados[1] > 2000]

##Atributos com Arrays Numpy

In [ ]:
dados

In [ ]:
dados = np.array([[44410.,  5712., 37123.,     0., 25757.],
       [ 2003.,  1991.,  1990.,  2019.,  2006.]])

Shape

In [ ]:
dados.shape

ndim

In [ ]:
dados.ndim

Size

In [ ]:
dados.size

dType

In [ ]:
dados.dtype

.T (transposta)

In [ ]:
dados.T

In [ ]:
dados.transpose()

##Métodos com Array Numpy

tolist()

In [ ]:
dados.tolist()
#Transforma em Lista

ReShape

In [ ]:
contador = np.arange(10)
contador

In [ ]:
contador.reshape(5,2)

In [ ]:
contador.reshape((5,2), order = 'C')

In [ ]:
contador.reshape((5,2), order = 'F')

In [ ]:
km = [44410, 5712, 37123, 0, 25757]
anos = [2003, 1991, 1990, 2019, 2006]

In [ ]:
info_carros = km + anos
info_carros

In [ ]:
np.array(info_carros)

In [ ]:
np.array(info_carros).reshape(2,5)

In [ ]:
np.array(info_carros).reshape((5,2), order = 'F')

ReSize

In [ ]:
dados_new = dados.copy()
dados_new

In [ ]:
dados_new.resize((3,5), refcheck = False)

In [ ]:
dados_new

In [ ]:
dados_new[2] = dados_new[0] / (2021 - dados_new[1])

In [ ]:
dados_new

##Estatísticas com Arrays Numpy

In [ ]:
anos = np.loadtxt(fname = "/carros-anos.txt", dtype = int)
km = np.loadtxt(fname = "/carros-km.txt")
valor = np.loadtxt(fname = "/carros-valor.txt")

In [ ]:
anos.shape

In [ ]:
dataset = np.column_stack((anos, km, valor))
dataset

In [ ]:
np.mean(dataset, axis = 0)

In [ ]:
np.mean(dataset[:,1])

In [ ]:
np.mean(dataset[:,2])

In [ ]:
np.std(dataset[:,2])
#desvio padrão

In [ ]:
dataset[:,1].sum()

In [ ]:
np.sum(dataset, axis = 0)

#Python para DataScience: Funções, Pacotes e Pandas Básico

In [ ]:
!python -V

##Trabalhando com Dados

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv('/db.csv', sep = ';')
#pd.set_option('display.max_rows', 300)  maximo de linhas a ser visualizadas
#pd.set_option('display.max_columns', 300)  maximo de colunas a ser visualizadas

In [ ]:
dataset

In [ ]:
dataset.dtypes

In [ ]:
dataset[['Quilometragem', 'Valor']].describe()

In [ ]:
dataset.info()

## Criando Tuplas

In [ ]:
()

In [ ]:
1,2,3

In [ ]:
nome = "Passat"
valor = 153000
(nome, valor)

In [ ]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

In [ ]:
type(nomes_carros)

##Seleções em Tuplas

In [ ]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

In [ ]:
nomes_carros[0]

In [ ]:
nomes_carros[1]

In [ ]:
nomes_carros[-1]

In [ ]:
nomes_carros[1:3]

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

In [ ]:
nomes_carros[-1]

In [ ]:
nomes_carros[-1][1]

Exemplo

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [ ]:
carros[0][3]

In [ ]:
carros[-1][-1][-1]

In [ ]:
carros[0][-1][:2]

##Iterando em Tuplas

In [ ]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

In [ ]:
for item in nomes_carros:
  print(item)

Desempacotamento em Tuplas

In [ ]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [ ]:
carro_1

In [ ]:
carro_2

In [ ]:
carro_3

In [ ]:
carro_4

In [ ]:
_, A , _, B = nomes_carros

In [ ]:
A

In [ ]:
B

In [ ]:
_, C , *_ = nomes_carros

In [ ]:
C

##Zip()

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

In [ ]:
zip(carros,valores)

In [ ]:
list(zip(carros, valores))

In [ ]:
for item in zip(carros, valores):
  print(item)

In [ ]:
for carro , valor in zip(carros, valores):
  print(carro, valor)

In [ ]:
for carro , valor in zip(carros, valores):
  if (valor > 100000):
    print(carro)

##Criando Dicionários

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

In [ ]:
valores = [88078.64, 106161.94, 72832.16]
valores

In [ ]:
carros.index('Passat')

In [ ]:
valores[carros.index('Passat')]

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

In [ ]:
type(dados)

Criando Dicionários com .Zip()

In [ ]:
list(zip(carros, valores))

In [ ]:
dados = dict((zip(carros, valores)))
dados

In [ ]:
type(dados)

##Operações com Dicionários

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

dict[key]

In [ ]:
dados['Passat']

key in dict

In [ ]:
'Passat' in dados

In [ ]:
'Fusca' in dados

In [ ]:
'Fusca' not in dados

len(dict)

In [ ]:
len(dados)

dict[key] = value

In [ ]:
dados['DS5'] = 124549.07

In [ ]:
dados

del dict[key]

In [ ]:
del dados['DS5']

In [ ]:
dados

##Métodos com Dicionário

dict.update()

In [ ]:
dados.update({'DS5': 124549.07})

In [ ]:
dados

In [ ]:
dados.update({'Passat': 106161.97, 'Fusca': 150000})

In [ ]:
dados

dict.copy()

In [ ]:
dadosCopy = dados.copy()

In [ ]:
dadosCopy

In [ ]:
del dadosCopy['Fusca']
dadosCopy

In [ ]:
dados

In [ ]:
dadosCopy.pop('Passat')

In [ ]:
dadosCopy

In [ ]:
dadosCopy.pop('Passat','Chave não Encontrada')
#Caso não tenha o .pop retorna Chave não Encontrada

In [ ]:
dadosCopy.pop('DS5', 'Chave não Encontrada')

In [ ]:
dadosCopy

dict.clear()

In [ ]:
dadosCopy.clear()

In [ ]:
dadosCopy

## Iterando em Dicionários

In [ ]:
dados = {'Crossfox': 72832.16, 'DS5': 124549.07,  'Fusca': 150000,  'Jetta Variant': 88078.64,  'Passat': 106161.95}
dados

dict.keys()

In [ ]:
dados.keys()

In [ ]:
for key in dados.keys():
  print(dados[key])

dict.values()

In [ ]:
dados.values()

dict.items()

In [ ]:
dados.items()

In [ ]:
for item in dados.items():
  print(item)

In [ ]:
for key, value in dados.items():
  print(key,value)

In [ ]:
for key, value in dados.items():
  if (value > 100000):
    print(key)

##Funções

Built-in function

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

In [ ]:
valores = []

for valor in dados.values():
  valores.append(valor)
valores

In [ ]:
soma = 0

for valor in dados.values():
  soma += valor
soma

In [ ]:
list(dados.values())

In [ ]:
sum(dados.values())

In [ ]:
help()#função de ajuda

In [ ]:
print? # também função de ajuda

Funções sem parametros

In [ ]:
def media():
  valor = (1+2+3)/3
  print(valor)

In [ ]:
media()

Funçoes com Parametros

In [ ]:
def media(num_1, num_2, num_3):
  valor = (num_1 + num_2 + num_3)/3
  print(valor)

In [ ]:
media(1,2,3)

In [ ]:
media(10,20,30)

In [ ]:
def media(lista):
  valor = sum(lista) / len(lista)
  print(valor)

In [ ]:
media([1,2,3,4,5,6,7,8,9,10])

Kilometragem média anual de cada veículo

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
def km_media(dataset,ano_atual):
  for item in dataset.items():
    resultado = item[1]['km']/ (ano_atual - item[1]['ano'])
    print(resultado)

In [ ]:
km_media(dados,2021)

Funçoes que retornam o valor

In [ ]:
def km_media(dataset,ano_atual):
  for item in dataset.items():
    valor = item[1]['km']/ (ano_atual - item[1]['ano'])
    return valor

##Pandas Básico

In [ ]:
import pandas as pd

###Estrutura de Dados

####Criando uma Series a partir de uma Lista

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

In [ ]:
pd.Series(carros)

#### Criando uma DataFrame a partir de um dicionário

In [ ]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [ ]:
dataset = pd.DataFrame(dados)
dataset

Outra Forma

In [ ]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [ ]:
dataset = pd.DataFrame(dados)
dataset

#### Criando um DataFrame a partir de Dados Externos

In [ ]:
dataset = pd.read_csv('/content/db.csv',sep =';',index_col = 0)

In [ ]:
dataset

### Seleções com DataFrames

####Selecionando Colunas

In [ ]:
dataset

In [ ]:
dataset['Valor']

In [ ]:
type(dataset['Valor'])

In [ ]:
dataset[['Valor']]

In [ ]:
type(dataset[['Valor']])

####Selecionando Linhas

In [ ]:
dataset[0:4]

####.loc

In [ ]:
dataset.loc['Passat']

In [ ]:
dataset.loc[['Passat','DS5']]

In [ ]:
dataset.loc[['Passat','DS5'],['Motor','Valor']]

In [ ]:
dataset.loc[:,['Motor','Valor']]

#### .iloc

In [ ]:
dataset.head(10)

In [ ]:
dataset.iloc[1]

In [ ]:
dataset.iloc[[1]]

In [ ]:
dataset.iloc[[1,5]]

In [ ]:
dataset.iloc[0:7]

In [ ]:
dataset.iloc[0:7,[0,5,2]]

In [ ]:
dataset.iloc[[1,22,47,91],[0,5,2]]

In [ ]:
dataset.iloc[:,[0,5,2]]

###Queries com DataFrames

In [ ]:
dataset.head(10)

In [ ]:
dataset.Motor

In [ ]:
select = dataset.Motor == 'Motor Diesel'
select

In [ ]:
type(select)

Quais carros tem Motor Diesel ?

In [ ]:
dataset[select]

Quais carros são Motor a Diesel e Zero KM ?

In [ ]:
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

In [ ]:
(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)

#### Utilizando o Método Query

Quais carros tem Motor a Diesel ?

In [ ]:
dataset.query('Motor == "Motor Diesel"')

Quais carros tem Motor a Diesel e são Zero KM ?

In [ ]:
dataset.query('Motor == "Motor Diesel"and Zero_km == True')

### Iterando com DataFrames

In [ ]:
dataset.head(10)

In [ ]:
for item in dataset:
  print(item)

In [ ]:
for index, row in dataset.iterrows():
  if (2019 - row['Ano'] != 0):
    dataset.loc[index, 'km_media'] = row['Quilometragem'] / (2019 - row['Ano'])

  else:
    dataset.loc[index, 'km_media'] = 0.00

dataset

### Tratamento de Dados

In [ ]:
dataset.head(10)

In [ ]:
dataset.info()

In [ ]:
#mostra em booleana as variaveis NaN
dataset.Quilometragem.isna()

In [ ]:
dataset[dataset.Quilometragem.isna()]

In [ ]:
#Transforma todos os valores NaN em 0
dataset.fillna(0, inplace = True)

In [ ]:
dataset

In [ ]:
dataset.query('Zero_km == True')

In [ ]:
dataset = pd.read_csv('/content/db.csv',sep =';')
dataset

In [ ]:
#Elimina todo o parametro NaN de um subset
dataset.dropna(subset= ['Quilometragem'], inplace = True)
dataset

#Python Pandas: Tratando e Analisando Dados

## Relatório de Análise I

Importando os Dados

In [2]:
import pandas as pd

dados = pd.read_csv('/content/aluguel.csv',sep = ';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

Informações Gerais sobre o DataFrame

In [3]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])
tipos_de_dados.columns.name = 'Variaveis'

tipos_de_dados

Variaveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [4]:
print('A base de dados apresenta {} registros (imoveis) e {} variaveis'.format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 32960 registros (imoveis) e 9 variaveis

###Refatorando

Quantos Imóveis tem no DB ?

In [5]:
import pandas as pd

dados = pd.read_csv('/content/aluguel.csv',sep = ';')

tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])
tipos_de_dados.columns.name = 'Variaveis'

print('A base de dados apresenta {} registros (imoveis) e {} variaveis'.format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 32960 registros (imoveis) e 9 variaveis

##Relatório de Análise II

###Tipos de Imóveis

In [6]:
import pandas as pd

dados = pd.read_csv('/content/aluguel.csv', sep = ';')

dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [7]:
tipo_de_imovel = dados['Tipo']
type(tipo_de_imovel)

pandas.core.series.Series

In [8]:
tipo_de_imovel.drop_duplicates(inplace = True)
tipo_de_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

###Organizando a Visualização

In [9]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [10]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])
tipo_de_imovel

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [11]:
tipo_de_imovel.columns.name = 'Id'
tipo_de_imovel

Id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

###Refatorando

Quais os Tipos de Imóveis no DB ?

In [12]:
import pandas as pd

dados = pd.read_csv('/content/aluguel.csv', sep = ';')

tipo_de_imovel = dados['Tipo']
tipo_de_imovel.drop_duplicates(inplace = True)
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])
tipo_de_imovel.columns.name = 'Id'

tipo_de_imovel

Id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

##Relatório de Análise III

###Imóveis Residenciais

In [13]:
import pandas as pd

dados= pd.read_csv("/content/aluguel.csv", sep =';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [14]:
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [15]:
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']

residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [16]:
selecao =dados['Tipo'].isin(residencial)

selecao

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [17]:
dados_residencial = dados[selecao]

dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [18]:
dados_residencial.shape[0]

22580

In [19]:
dados_residencial.index = range(dados_residencial.shape[0])

dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

###Exportando a Base de Dados

In [20]:
dados_residencial.to_csv("/content/aluguel_residencial.csv", sep = ';', index = False)

In [21]:
dados_residencial2 = pd.read_csv("/content/aluguel_residencial.csv", sep = ';')

In [22]:
dados_residencial2

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

###Refatorando

Criar um DB Somente com Imóveis Residenciais

In [23]:
import pandas as pd

dados = pd.read_csv("/content/aluguel.csv", sep =';')

residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Flat',
 'Casa de Vila',
 'Loft',
 'Chácara',
 'Sítio',
 'Studio']

selecao = dados['Tipo'].isin(residencial)
dados_residencial = dados[selecao]
dados_residencial.index = range(dados_residencial.shape[0])

dados_residencial

dados_residencial.to_csv("/content/aluguel_residencial2.csv", sep = ';', index = False)

## Relatório de Análise IV

### Seleções e Frequencias

In [24]:
import pandas as pd

dados = pd.read_csv('/content/aluguel_residencial.csv', sep = ';')

dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

####Selecione somente os imóveis 'Apartamento'

In [25]:
ap = dados['Tipo'] == 'Apartamento'

n1 = dados[ap].shape[0]

dados[ap]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22573,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

####Selecione somente os imóveis 'Casa', 'Casa de Condominio', 'Casa de Vila'

In [26]:
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')

n2 = dados[selecao].shape[0]

dados[selecao]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
18,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
...,...,...,...,...,...,...,...,...,...
22545,Casa de Condomínio,Freguesia (Jacarepaguá),3,3,1,155,2000.0,530.0,1250.0
22547,Casa,Bento Ribeiro,2,1,0,60,1400.0,NaN,NaN
22555,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,NaN
22558,Casa,Centro,5,0,1,160,5000.0,NaN,80.0
22574,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0

####Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites

In [27]:
# 60 <= Area <= 100
selecao_area = (dados['Area'] >= 60) & (dados['Area'] <= 100)

n3 = dados[selecao_area].shape[0]

dados[selecao_area]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
...,...,...,...,...,...,...,...,...,...
22568,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
22570,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

####Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$2.000,00

In [28]:
selecao2 = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)

n4 = dados[selecao2].shape[0]

dados[selecao2]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
484,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,830.0,NaN
1003,Apartamento,Taquara,4,1,1,110,1900.0,NaN,NaN
1961,Casa,Campo Grande,4,1,4,100,1600.0,NaN,NaN
2102,Casa,Engenho de Dentro,4,3,0,120,1500.0,NaN,NaN
2200,Apartamento,Recreio dos Bandeirantes,4,2,2,125,1700.0,NaN,90.0
2338,Casa de Vila,Méier,4,0,1,85,1600.0,NaN,NaN
3943,Casa,Campo Grande,4,1,0,140,1700.0,NaN,NaN
3944,Apartamento,Campo Grande,4,2,1,115,1900.0,500.0,NaN
4349,Apartamento,Recreio dos Bandeirantes,4,2,1,105,1900.0,1492.0,205.0
5081,Apartamento,Cidade Nova,4,0,0,110,1300.0,NaN,NaN
6524,Apartamento,Pechincha,4,1,2,178,1900.0,1100.0,270.0
6800,Casa,Riachuelo,4,0,1,100,1800.0,NaN,40.0
6811,Casa,Méier,4,1,1,125,1900.0,NaN,NaN
7624,Apartamento,Recreio dos Bandeirantes,4,2,3,280,1800.0,1400.0,580.0
7651,Apartamento,Recreio dos Bandeirantes,4,3,2,250,1500.0,1380.0,700.0
7867,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1093.0,183.0
10111,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1038.0,158.0
10929,Casa de Condomínio,Taquara,4,1,0,110,1750.0,550.0,993.0
11308,Casa,Santo Cristo,5,0,0,85,1200.0,NaN,NaN
11977,Apartamento,Leme,4,0,1,185,1800.0,2000.0,270.0
12525,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,930.0,150.0
13307,Apartamento,Camorim,4,1,1,96,1350.0,747.0,NaN
13659,Apartamento,Barra da Tijuca,4,3,4,148,1600.0,1766.0,NaN
14034,Casa,Praça Seca,4,1,1,128,1600.0,NaN,228.0
14987,Casa de Condomínio,Freguesia (Jacarepaguá),4,2,1,120,1800.0,195.0,30.0
15010,Casa,Pedra de Guaratiba,4,1,0,100,1300.0,NaN,NaN
15912,Apartamento,Campo Grande,4,2,2,160,1900.0,880.0,NaN
16031,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,912.0,160.0
16137,Apartamento,Rio Comprido,4,1,0,110,1650.0,500.0,NaN
16791,Casa,Campo Grande,4,3,0,120,1700.0,NaN,NaN
17764,Apartamento,Taquara,4,3,1,190,1200.0,NaN,NaN
17884,Casa,Campo Grande,4,0,1,366,1890.0,NaN,208.0
18140,Casa,Campo Grande,4,0,0,159,1800.0,NaN,NaN
18274,Casa,Braz de Pina,4,1,0,99,1800.0,NaN,NaN
18453,Casa,Campo Grande,4,1,3,100,1600.0,NaN,NaN
19403,Casa,Campo Grande,4,1,2,180,1850.0,300.0,NaN
20178,Apartamento,Campo Grande,4,1,1,80,1600.0,950.0,NaN
20974,Apartamento,Barra da Tijuca,4,3,4,148,1500.0,1600.0,196.0
21475,Apartamento,Vargem Grande,4,0,1,180,1900.0,NaN,176.0
21783,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,1038.0,NaN
21938,Casa,Campo Grande,4,2,0,120,1600.0,NaN,NaN

####Selecione somente os imóveis com Suite

In [29]:
suite = (dados['Suites'] > 0)

n5 = dados[suite]

dados[suite]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
11,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
13,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
...,...,...,...,...,...,...,...,...,...
22568,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
22570,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0
22571,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0
22574,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0

###Refatorando

In [30]:
import pandas as pd

dados = pd.read_csv('/content/aluguel_residencial.csv', sep = ';')

ap = dados['Tipo'] == 'Apartamento'
n1 = dados[ap].shape[0]

selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]

selecao_area = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao_area].shape[0]

selecao2 = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao2].shape[0]

suite = (dados['Suites'] > 0)
n5 = dados[suite].shape[0]


print("Nº de imóveis classificados com tipo 'Apartamento' -> {}".format(n1))
print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> {}".format(n2))
print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(n3))
print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(n4))
print("Nº de imóveis que tenham pelo menos 1 quarto com Suíte -> {}".format(n5))

Nº de imóveis classificados com tipo 'Apartamento' -> 19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 41
Nº de imóveis que tenham pelo menos 1 quarto com Suíte -> 13154

## Exercicios Relatório

In [38]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])

In [39]:
alunos

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
1   Cátia     27    F    2.5     False
2   Denis     56    M    5.0     False
3    Beto     32    M   10.0      True
4   Bruna     42    F    8.2      True
5    Dara     21    F    7.0      True
6  Carlos     19    M    6.0     False
7   Alice     35    F    5.6     False

### Crie um DataFrame somente com os alunos aprovados.

In [40]:
aprovados = alunos['Aprovado'] == True
alunos[aprovados]

    Nome  Idade Sexo  Notas  Aprovado
0    Ary     15    M    7.5      True
3   Beto     32    M   10.0      True
4  Bruna     42    F    8.2      True
5   Dara     21    F    7.0      True

###Crie um DataFrame somente com as alunas aprovadas.

In [41]:
aprovadas = (alunos['Aprovado'] == True) & (alunos['Sexo'] == 'F')
alunos[aprovadas]

    Nome  Idade Sexo  Notas  Aprovado
4  Bruna     42    F    8.2      True
5   Dara     21    F    7.0      True

###Crie apenas uma visualização dos alunos com idade entre 10 e 20 anos ou com idade maior ou igual a 40 anos.

In [42]:
selecao = (alunos['Idade'] > 10) & (alunos['Idade'] < 20) | (alunos['Idade'] >= 40)

alunos[selecao]

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
2   Denis     56    M    5.0     False
4   Bruna     42    F    8.2      True
6  Carlos     19    M    6.0     False

###Crie um DataFrame somente com os alunos reprovados e mantenha neste DataFrame apenas as colunas Nome, Sexo e Idade, nesta ordem.

In [43]:
selecao = alunos['Aprovado'] == False

reprovados = alunos[['Nome', 'Sexo', 'Idade']][selecao]
reprovados

     Nome Sexo  Idade
1   Cátia    F     27
2   Denis    M     56
6  Carlos    M     19
7   Alice    F     35

###Crie uma visualização com os três alunos mais novos.

In [44]:
alunos.sort_values(by = 'Idade', inplace = True)

alunos.iloc[:3]

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
6  Carlos     19    M    6.0     False
5    Dara     21    F    7.0      True

## Relatório de Análise V

###Tratamento de Dados Faltantes

In [45]:
import pandas as pd

In [48]:
dados = pd.read_csv('/content/aluguel.csv',sep = ';')