<a href="https://colab.research.google.com/github/Lucas-Abrahao/Alura-Python-para-DS/blob/main/Alura_Python_para_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para DataScience: Primeiros Passos

##Criando uma função

In [ ]:
nome = 'Lucas'
idade = 23

In [ ]:
print(f'O meu nome é {nome} e tenho {idade} anos')

O meu nome é Lucas e tenho 23 anos

In [ ]:
def saudacao ():
  nome = input("Qual seu nome ? ")
  print(f'Olá {nome}')

##Função saudação

In [ ]:
saudacao()

Qual seu nome ? lucas
Olá lucas

##saudação com parametros

In [ ]:
def saudacao_p(nome_da_pessoa):
  print(f'Olá {nome_da_pessoa}')

In [ ]:
saudacao_p('bia')

## Condicional

In [ ]:
idade = int(input("Qual sua idade ? "))

def pode_dirigir(idade):
  if idade >= 18 :
    print('Pode dirigir')
  else:
    print("Não pode dirigir")

pode_dirigir(idade)

## loop

In [ ]:
idades = [18, 22, 15, 50]
idades

In [ ]:
def verifica_se_pode_dirigir(idades):
  for idade in idades:
    if idade >= 18:
      print(f'{idade} anos, Tem permissão para dirigir')
    else:
      print(f'{idade} anos, Não Tem permissão para dirigir')

verifica_se_pode_dirigir(idades)

## Boleano

In [ ]:
idades = [20, 14, 40]
permissoes = []

for idade in idades:
  if idade > 18:
    permissoes.append(True)
  else:
    permissoes.append(False)

permissoes

##Tipos em lista

In [ ]:
lista = ['Lucas', 23, True, "51"]

for item in lista:
  print(f'O item {item} da lista é do tipo: ', type(item))

## Import

In [ ]:
from random import randrange

randrange(0,11)

In [ ]:
notas_mat = []

for notas in range (8):
  notas_mat.append(randrange(0,11))

notas_mat

## Matplotlib

In [ ]:
import matplotlib.pyplot as plt

x = list(range(1,9))
y = notas_mat

plt.plot(x, y, marker = 'o')

plt.title('Notas de Matematica')
plt.xlabel('Provas')
plt.ylabel('Notas')

plt.show()

# Python para DataScience: Introdução a Linguagem e NumPy

## Verificando a versão do Python

In [ ]:
!python -V

## Trabalhando com Arrays Numpy

In [ ]:
import numpy as np

## Carregando arquivos .txt

In [ ]:
km = np.loadtxt('/carros-km.txt')

Atribuindo Tipo as variaveis do Arquivo

In [ ]:
anos = np.loadtxt('/carros-anos.txt',dtype = int)

## Obter a Kilometragem Média Por Ano

In [ ]:
km_media = km / (2021 - anos)

In [ ]:
km_media

## Operações Matemáticas com Python

Adição (+)

In [ ]:
2+2

Subtração (-)

In [ ]:
4-2

Multiplicação (*)

In [ ]:
2*2

Divisão (/) e (//)

In [ ]:
10/3

In [ ]:
10//3

Exponenciação (**)

In [ ]:
2**3

Resto da Divisão (%)

In [ ]:
10%3

Expressões Matemáticas

In [ ]:
5*2+3*2

In [ ]:
(5*2)+(3*2)

In [ ]:
5*(2+3)*2

A Variável _

In [ ]:
_

In [ ]:
_ /2

In [ ]:
_ - 15

## Conversão de Tipos

In [ ]:
a = 30
b = 20
pi = 3.141592
c = 'Lucas'
d = ' Abrahão'

In [ ]:
a + b

In [ ]:
type(a)

In [ ]:
str(a)

In [ ]:
type(str(a))

In [ ]:
c + d

## Formatação de Strings

str.format()

In [ ]:
print('Olá {}!'.format('Lucas'))

In [ ]:
print('Olá {}, Este é seu acesso de número {}'.format('Lucas',5489))

In [ ]:
print('Olá {nome}, Este é seu acesso de número {acessos}'.format(nome = 'Lucas', acessos = 5489))

f-strings

In [ ]:
nome = 'Lucas'
acessos = 5489

In [ ]:
print(f'Olá {nome}, Este é seu acesso de número {acessos}')

## Listas

In [ ]:
Acessorios = ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']
Acessorios

In [ ]:
type(Acessorios)

In [ ]:
Carro_1 = ['Jetta Variant', 'Motor 4.0 Turbo', 2003, 44410.0, False, ['Rodas de liga', 'Travas elétricas', 'Piloto automático'], 88078.64]

In [ ]:
Carro_1

In [ ]:
Carro_2 = ['Passat', 'Motor Diesel', 1991, 5712.0, False, ['Central multimídia', 'Teto panorâmico', 'Freios ABS'], 106161.94]

In [ ]:
Carro_2

In [ ]:
carros = [Carro_1,Carro_2]
carros

### Operações com Listas

#### x in A

retorna True se um elemento da Lista A for igual a x

In [ ]:
Acessorios

In [ ]:
'Rodas de liga' in Acessorios

In [ ]:
'4 x 4' in Acessorios

In [ ]:
'Rodas de liga' not in Acessorios

In [ ]:
'4 x 4' not in Acessorios

#### A +B

Concatena Duas Listas

In [ ]:
A = ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro']
B = ['Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']

In [ ]:
A

In [ ]:
B

In [ ]:
A + B

In [ ]:
C = A + B

In [ ]:
C

#### len(A)

Tamanho da Lista

In [ ]:
len(C)

###Seleções em listas

In [ ]:
Acessorios

In [ ]:
Acessorios[0]

In [ ]:
Acessorios[3]

In [ ]:
Acessorios[-1]

In [ ]:
carros[0]

In [ ]:
carros[0][0]

In [ ]:
carros[0][-2]

In [ ]:
carros[0][-2][1]

Slices
 A [I:J]

I é o primeiro valor da lista

J é o final, não entra na lista, somente o anterior

In [ ]:
Acessorios

In [ ]:
Acessorios[2:5]
#2 = Piloto Automatico
#5 = Sensor de Estacionamento

In [ ]:
Acessorios[2:]
# Não colocar nada significa ir até o final da lista

In [ ]:
Acessorios[:5]
#O mesmo é valido no começo

### Métodos em Listas

In [ ]:
Acessorios

In [ ]:
Acessorios.sort()
#Ordena alfabéticamente ou numéricamente
Acessorios

In [ ]:
Acessorios.append('4x4')
#Adiciona um item ao final da Lista
Acessorios

In [ ]:
Acessorios.pop()
#remove um item da lista, se não houver numero no indice remove o ultimo item

In [ ]:
Acessorios

In [ ]:
Acessorios2 = Acessorios.copy()
#Copia a lista
Acessorios2

In [ ]:
Acessorios2.append('4 x 4')

In [ ]:
Acessorios.append('Travas elétricas')

In [ ]:
Acessorios

In [ ]:
Acessorios2

In [ ]:
Acessorios.copy()
#É equivalente a
Acessorios[:]

Acessorios2 = Acessorios.copy()
#          OU
Acessorios2 = Acessorios[:]

##Estruturas de Repetição

In [ ]:
quadrado = []

for i in range(10):
  quadrado.append( i ** 2)

quadrado

In [ ]:
[i ** 2 for i in range (10)]

###Loops Aninhados

In [ ]:
dados = [ 
    ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva'],
    ['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4', 'Painel digital', 'Piloto automático', 'Bancos de couro', 'Câmera de estacionamento'],
    ['Piloto automático', 'Controle de estabilidade', 'Sensor crepuscular', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Central multimídia', 'Vidros elétricos']
]
dados

In [ ]:
for lista in dados:
  print(lista)

In [ ]:
for lista in dados:
  for item in lista:
    print(item)

In [ ]:
acessorios = []

for lista in dados:
  for item in lista:
    acessorios.append(item)

acessorios

set()

In [ ]:
list(set(acessorios))

OU

In [ ]:
list(set([item for lista in dados for item in lista]))

##IF

In [ ]:
# 1º item da lista - Nome do veículo
# 2º item da lista - Ano de fabricação
# 3º item da lista - Veículo é zero km?

dados = [
    ['Jetta Variant', 2003, False],
    ['Passat', 1991, False],
    ['Crossfox', 1990, False],
    ['DS5', 2019, True],
    ['Aston Martin DB4', 2006, False],
    ['Palio Weekend', 2012, False],
    ['A5', 2019, True],
    ['Série 3 Cabrio', 2009, False],
    ['Dodge Jorney', 2019, False],
    ['Carens', 2011, False]
]
dados

Mostre Apenas os Veículos Zero KM

In [ ]:
zero_km = []

for lista in dados:
  if(lista[2] == True):
    zero_km.append(lista)

zero_km

In [ ]:
zero_km_f = []

for lista in dados:
  if(lista[2] == False):
    zero_km_f.append(lista)

zero_km_f

OU

In [ ]:
[lista for lista in dados if lista[2] == True]

## Array e NumPy

Importando

In [ ]:
import numpy

usando arange

In [ ]:
numpy.arange(10)

Importando todo o pacote e atribuindo um novo nome

In [ ]:
import numpy as np

In [ ]:
np.arange(10)

Importando parte do Pacote

In [ ]:
from numpy import arange

In [ ]:
arange(10)

## Criando Arrays Numpy

A partir de Listas

In [ ]:
km = np.array([1000, 2300, 4937])

In [ ]:
km

In [ ]:
type(km)

In [ ]:
km.dtype

A partir de dados externos

In [ ]:
km = np.loadtxt(fname = '/carros-km.txt', dtype = int)

In [ ]:
km

In [ ]:
km.dtype

In [ ]:
dados = [ 
    ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva'],
    ['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4', 'Painel digital', 'Piloto automático', 'Bancos de couro', 'Câmera de estacionamento'],
    ['Piloto automático', 'Controle de estabilidade', 'Sensor crepuscular', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Central multimídia', 'Vidros elétricos']
]
dados

In [ ]:
acessorios = np.array(dados)

In [ ]:
acessorios

In [ ]:
km.shape

In [ ]:
acessorios.shape

Comparando desempenho com listas

In [ ]:
np_array = np.arange(1000000)

In [ ]:
py_list = list(range(1000000))

In [ ]:
%time for _ in range (100): np_array *= 2

In [ ]:
%time for _ in range (100) : py_list = [ x * 2 for x in py_list]

##Operações Aritméticas com Array Numpy

operações entre arrays e constantes

In [ ]:
km = [44410., 5712., 37123., 0., 25757.]
anos = [2003, 1991, 1990, 2019, 2006]

In [ ]:
idade = 2021 - anos

In [ ]:
km = np.array([44410., 5712., 37123., 0., 25757.])
anos = np.array([2003, 1991, 1990, 2019, 2006])

In [ ]:
idade = 2021 - anos

In [ ]:
idade

##Operações entre arrays

In [ ]:
km_media = 0
km_media = km / idade

In [ ]:
km_media

##Operações com Arrays de duas dimensões

In [ ]:
dados = np.array([km, anos])
dados

In [ ]:
dados.shape

In [ ]:
dados[0]

In [ ]:
dados[1]

In [ ]:
km_media = dados[0] / ( 2021 - dados[1])
km_media

##Seleções com Arrays Numpy

In [ ]:
dados[1][2]

In [ ]:
dados[1,2]

##Fatiamento

In [ ]:
contador = np.arange(10)
contador

In [ ]:
contador[1:4]

In [ ]:
contador[1:8:2]

In [ ]:
contador[::2]

In [ ]:
contador[1::2]

In [ ]:
dados

In [ ]:
dados[:, 1 :4]

In [ ]:
dados[:, 1 :3]

##Indexação com Array Booleano

In [ ]:
contador = np.arange(10)
contador

In [ ]:
contador > 5

In [ ]:
contador [contador > 5]

In [ ]:
contador [[False, False, False, False, False, False,  True,  True,  True,
        True]]

In [ ]:
dados

In [ ]:
dados[1] > 2000

In [ ]:
dados[:,dados[1] > 2000]

##Atributos com Arrays Numpy

In [ ]:
dados

In [ ]:
dados = np.array([[44410.,  5712., 37123.,     0., 25757.],
       [ 2003.,  1991.,  1990.,  2019.,  2006.]])

Shape

In [ ]:
dados.shape

ndim

In [ ]:
dados.ndim

Size

In [ ]:
dados.size

dType

In [ ]:
dados.dtype

.T (transposta)

In [ ]:
dados.T

In [ ]:
dados.transpose()

##Métodos com Array Numpy

tolist()

In [ ]:
dados.tolist()
#Transforma em Lista

ReShape

In [ ]:
contador = np.arange(10)
contador

In [ ]:
contador.reshape(5,2)

In [ ]:
contador.reshape((5,2), order = 'C')

In [ ]:
contador.reshape((5,2), order = 'F')

In [ ]:
km = [44410, 5712, 37123, 0, 25757]
anos = [2003, 1991, 1990, 2019, 2006]

In [ ]:
info_carros = km + anos
info_carros

In [ ]:
np.array(info_carros)

In [ ]:
np.array(info_carros).reshape(2,5)

In [ ]:
np.array(info_carros).reshape((5,2), order = 'F')

ReSize

In [ ]:
dados_new = dados.copy()
dados_new

In [ ]:
dados_new.resize((3,5), refcheck = False)

In [ ]:
dados_new

In [ ]:
dados_new[2] = dados_new[0] / (2021 - dados_new[1])

In [ ]:
dados_new

##Estatísticas com Arrays Numpy

In [ ]:
anos = np.loadtxt(fname = "/carros-anos.txt", dtype = int)
km = np.loadtxt(fname = "/carros-km.txt")
valor = np.loadtxt(fname = "/carros-valor.txt")

In [ ]:
anos.shape

In [ ]:
dataset = np.column_stack((anos, km, valor))
dataset

In [ ]:
np.mean(dataset, axis = 0)

In [ ]:
np.mean(dataset[:,1])

In [ ]:
np.mean(dataset[:,2])

In [ ]:
np.std(dataset[:,2])
#desvio padrão

In [ ]:
dataset[:,1].sum()

In [ ]:
np.sum(dataset, axis = 0)

#Python para DataScience: Funções, Pacotes e Pandas Básico

In [ ]:
!python -V

##Trabalhando com Dados

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv('/db.csv', sep = ';')
#pd.set_option('display.max_rows', 300)  maximo de linhas a ser visualizadas
#pd.set_option('display.max_columns', 300)  maximo de colunas a ser visualizadas

In [ ]:
dataset

In [ ]:
dataset.dtypes

In [ ]:
dataset[['Quilometragem', 'Valor']].describe()

In [ ]:
dataset.info()

## Criando Tuplas

In [ ]:
()

In [ ]:
1,2,3

In [ ]:
nome = "Passat"
valor = 153000
(nome, valor)

In [ ]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

In [ ]:
type(nomes_carros)

##Seleções em Tuplas

In [ ]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

In [ ]:
nomes_carros[0]

In [ ]:
nomes_carros[1]

In [ ]:
nomes_carros[-1]

In [ ]:
nomes_carros[1:3]

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

In [ ]:
nomes_carros[-1]

In [ ]:
nomes_carros[-1][1]

Exemplo

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [ ]:
carros[0][3]

In [ ]:
carros[-1][-1][-1]

In [ ]:
carros[0][-1][:2]

##Iterando em Tuplas

In [ ]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

In [ ]:
for item in nomes_carros:
  print(item)

Desempacotamento em Tuplas

In [ ]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [ ]:
carro_1

In [ ]:
carro_2

In [ ]:
carro_3

In [ ]:
carro_4

In [ ]:
_, A , _, B = nomes_carros

In [ ]:
A

In [ ]:
B

In [ ]:
_, C , *_ = nomes_carros

In [ ]:
C

##Zip()

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

In [ ]:
zip(carros,valores)

In [ ]:
list(zip(carros, valores))

In [ ]:
for item in zip(carros, valores):
  print(item)

In [ ]:
for carro , valor in zip(carros, valores):
  print(carro, valor)

In [ ]:
for carro , valor in zip(carros, valores):
  if (valor > 100000):
    print(carro)

##Criando Dicionários

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

In [ ]:
valores = [88078.64, 106161.94, 72832.16]
valores

In [ ]:
carros.index('Passat')

In [ ]:
valores[carros.index('Passat')]

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

In [ ]:
type(dados)

Criando Dicionários com .Zip()

In [ ]:
list(zip(carros, valores))

In [ ]:
dados = dict((zip(carros, valores)))
dados

In [ ]:
type(dados)

##Operações com Dicionários

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

dict[key]

In [ ]:
dados['Passat']

key in dict

In [ ]:
'Passat' in dados

In [ ]:
'Fusca' in dados

In [ ]:
'Fusca' not in dados

len(dict)

In [ ]:
len(dados)

dict[key] = value

In [ ]:
dados['DS5'] = 124549.07

In [ ]:
dados

del dict[key]

In [ ]:
del dados['DS5']

In [ ]:
dados

##Métodos com Dicionário

dict.update()

In [ ]:
dados.update({'DS5': 124549.07})

In [ ]:
dados

In [ ]:
dados.update({'Passat': 106161.97, 'Fusca': 150000})

In [ ]:
dados

dict.copy()

In [ ]:
dadosCopy = dados.copy()

In [ ]:
dadosCopy

In [ ]:
del dadosCopy['Fusca']
dadosCopy

In [ ]:
dados

In [ ]:
dadosCopy.pop('Passat')

In [ ]:
dadosCopy

In [ ]:
dadosCopy.pop('Passat','Chave não Encontrada')
#Caso não tenha o .pop retorna Chave não Encontrada

In [ ]:
dadosCopy.pop('DS5', 'Chave não Encontrada')

In [ ]:
dadosCopy

dict.clear()

In [ ]:
dadosCopy.clear()

In [ ]:
dadosCopy

## Iterando em Dicionários

In [ ]:
dados = {'Crossfox': 72832.16, 'DS5': 124549.07,  'Fusca': 150000,  'Jetta Variant': 88078.64,  'Passat': 106161.95}
dados

dict.keys()

In [ ]:
dados.keys()

In [ ]:
for key in dados.keys():
  print(dados[key])

dict.values()

In [ ]:
dados.values()

dict.items()

In [ ]:
dados.items()

In [ ]:
for item in dados.items():
  print(item)

In [ ]:
for key, value in dados.items():
  print(key,value)

In [ ]:
for key, value in dados.items():
  if (value > 100000):
    print(key)

##Funções

Built-in function

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

In [ ]:
valores = []

for valor in dados.values():
  valores.append(valor)
valores

In [ ]:
soma = 0

for valor in dados.values():
  soma += valor
soma

In [ ]:
list(dados.values())

In [ ]:
sum(dados.values())

In [ ]:
help()#função de ajuda

In [ ]:
print? # também função de ajuda

Funções sem parametros

In [ ]:
def media():
  valor = (1+2+3)/3
  print(valor)

In [ ]:
media()

Funçoes com Parametros

In [ ]:
def media(num_1, num_2, num_3):
  valor = (num_1 + num_2 + num_3)/3
  print(valor)

In [ ]:
media(1,2,3)

In [ ]:
media(10,20,30)

In [ ]:
def media(lista):
  valor = sum(lista) / len(lista)
  print(valor)

In [ ]:
media([1,2,3,4,5,6,7,8,9,10])

Kilometragem média anual de cada veículo

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
def km_media(dataset,ano_atual):
  for item in dataset.items():
    resultado = item[1]['km']/ (ano_atual - item[1]['ano'])
    print(resultado)

In [ ]:
km_media(dados,2021)

Funçoes que retornam o valor

In [ ]:
def km_media(dataset,ano_atual):
  for item in dataset.items():
    valor = item[1]['km']/ (ano_atual - item[1]['ano'])
    return valor

##Pandas Básico

In [ ]:
import pandas as pd

###Estrutura de Dados

####Criando uma Series a partir de uma Lista

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

In [ ]:
pd.Series(carros)

#### Criando uma DataFrame a partir de um dicionário

In [ ]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [ ]:
dataset = pd.DataFrame(dados)
dataset

Outra Forma

In [ ]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [ ]:
dataset = pd.DataFrame(dados)
dataset

#### Criando um DataFrame a partir de Dados Externos

In [ ]:
dataset = pd.read_csv('/content/db.csv',sep =';',index_col = 0)

In [ ]:
dataset

### Seleções com DataFrames

####Selecionando Colunas

In [ ]:
dataset

In [ ]:
dataset['Valor']

In [ ]:
type(dataset['Valor'])

In [ ]:
dataset[['Valor']]

In [ ]:
type(dataset[['Valor']])

####Selecionando Linhas

In [ ]:
dataset[0:4]

####.loc

In [ ]:
dataset.loc['Passat']

In [ ]:
dataset.loc[['Passat','DS5']]

In [ ]:
dataset.loc[['Passat','DS5'],['Motor','Valor']]

In [ ]:
dataset.loc[:,['Motor','Valor']]

#### .iloc

In [ ]:
dataset.head(10)

In [ ]:
dataset.iloc[1]

In [ ]:
dataset.iloc[[1]]

In [ ]:
dataset.iloc[[1,5]]

In [ ]:
dataset.iloc[0:7]

In [ ]:
dataset.iloc[0:7,[0,5,2]]

In [ ]:
dataset.iloc[[1,22,47,91],[0,5,2]]

In [ ]:
dataset.iloc[:,[0,5,2]]

###Queries com DataFrames

In [ ]:
dataset.head(10)

In [ ]:
dataset.Motor

In [ ]:
select = dataset.Motor == 'Motor Diesel'
select

In [ ]:
type(select)

Quais carros tem Motor Diesel ?

In [ ]:
dataset[select]

Quais carros são Motor a Diesel e Zero KM ?

In [ ]:
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

In [ ]:
(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)

#### Utilizando o Método Query

Quais carros tem Motor a Diesel ?

In [ ]:
dataset.query('Motor == "Motor Diesel"')

Quais carros tem Motor a Diesel e são Zero KM ?

In [ ]:
dataset.query('Motor == "Motor Diesel"and Zero_km == True')

### Iterando com DataFrames

In [ ]:
dataset.head(10)

In [ ]:
for item in dataset:
  print(item)

In [ ]:
for index, row in dataset.iterrows():
  if (2019 - row['Ano'] != 0):
    dataset.loc[index, 'km_media'] = row['Quilometragem'] / (2019 - row['Ano'])

  else:
    dataset.loc[index, 'km_media'] = 0.00

dataset

### Tratamento de Dados

In [ ]:
dataset.head(10)

In [ ]:
dataset.info()

In [ ]:
#mostra em booleana as variaveis NaN
dataset.Quilometragem.isna()

In [ ]:
dataset[dataset.Quilometragem.isna()]

In [ ]:
#Transforma todos os valores NaN em 0
dataset.fillna(0, inplace = True)

In [ ]:
dataset

In [ ]:
dataset.query('Zero_km == True')

In [ ]:
dataset = pd.read_csv('/content/db.csv',sep =';')
dataset

In [ ]:
#Elimina todo o parametro NaN de um subset
dataset.dropna(subset= ['Quilometragem'], inplace = True)
dataset

#Python Pandas: Tratando e Analisando Dados

## Relatório de Análise I

Importando os Dados

In [ ]:
import pandas as pd

dados = pd.read_csv('/content/aluguel.csv',sep = ';')
dados

FileNotFoundError: ignored

Informações Gerais sobre o DataFrame

In [ ]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])
tipos_de_dados.columns.name = 'Variaveis'

tipos_de_dados

In [ ]:
print('A base de dados apresenta {} registros (imoveis) e {} variaveis'.format(dados.shape[0], dados.shape[1]))

###Refatorando

Quantos Imóveis tem no DB ?

In [ ]:
import pandas as pd

dados = pd.read_csv('/content/aluguel.csv',sep = ';')

tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])
tipos_de_dados.columns.name = 'Variaveis'

print('A base de dados apresenta {} registros (imoveis) e {} variaveis'.format(dados.shape[0], dados.shape[1]))

##Relatório de Análise II

###Tipos de Imóveis

In [ ]:
import pandas as pd

dados = pd.read_csv('/content/aluguel.csv', sep = ';')

dados.head()

In [ ]:
tipo_de_imovel = dados['Tipo']
type(tipo_de_imovel)

In [ ]:
tipo_de_imovel.drop_duplicates(inplace = True)
tipo_de_imovel

###Organizando a Visualização

In [ ]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)
tipo_de_imovel

In [ ]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])
tipo_de_imovel

In [ ]:
tipo_de_imovel.columns.name = 'Id'
tipo_de_imovel

###Refatorando

Quais os Tipos de Imóveis no DB ?

In [ ]:
import pandas as pd

dados = pd.read_csv('/content/aluguel.csv', sep = ';')

tipo_de_imovel = dados['Tipo']
tipo_de_imovel.drop_duplicates(inplace = True)
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])
tipo_de_imovel.columns.name = 'Id'

tipo_de_imovel

##Relatório de Análise III

###Imóveis Residenciais

In [ ]:
import pandas as pd

dados= pd.read_csv("/content/aluguel.csv", sep =';')
dados.head()

In [ ]:
list(dados['Tipo'].drop_duplicates())

In [ ]:
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']

residencial

In [ ]:
selecao =dados['Tipo'].isin(residencial)

selecao

In [ ]:
dados_residencial = dados[selecao]

dados_residencial

In [ ]:
dados_residencial.shape[0]

In [ ]:
dados_residencial.index = range(dados_residencial.shape[0])

dados_residencial

###Exportando a Base de Dados

In [ ]:
dados_residencial.to_csv("/content/aluguel_residencial.csv", sep = ';', index = False)

In [ ]:
dados_residencial2 = pd.read_csv("/content/aluguel_residencial.csv", sep = ';')

In [ ]:
dados_residencial2

###Refatorando

Criar um DB Somente com Imóveis Residenciais

In [ ]:
import pandas as pd

dados = pd.read_csv("/content/aluguel.csv", sep =';')

residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Flat',
 'Casa de Vila',
 'Loft',
 'Chácara',
 'Sítio',
 'Studio']

selecao = dados['Tipo'].isin(residencial)
dados_residencial = dados[selecao]
dados_residencial.index = range(dados_residencial.shape[0])

dados_residencial

dados_residencial.to_csv("/content/aluguel_residencial2.csv", sep = ';', index = False)

## Relatório de Análise IV

### Seleções e Frequencias

In [ ]:
import pandas as pd

dados = pd.read_csv('/content/aluguel_residencial.csv', sep = ';')

dados

####Selecione somente os imóveis 'Apartamento'

In [ ]:
ap = dados['Tipo'] == 'Apartamento'

n1 = dados[ap].shape[0]

dados[ap]

####Selecione somente os imóveis 'Casa', 'Casa de Condominio', 'Casa de Vila'

In [ ]:
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')

n2 = dados[selecao].shape[0]

dados[selecao]

####Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites

In [ ]:
# 60 <= Area <= 100
selecao_area = (dados['Area'] >= 60) & (dados['Area'] <= 100)

n3 = dados[selecao_area].shape[0]

dados[selecao_area]

####Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$2.000,00

In [ ]:
selecao2 = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)

n4 = dados[selecao2].shape[0]

dados[selecao2]

####Selecione somente os imóveis com Suite

In [ ]:
suite = (dados['Suites'] > 0)

n5 = dados[suite]

dados[suite]

###Refatorando

In [ ]:
import pandas as pd

dados = pd.read_csv('/content/aluguel_residencial.csv', sep = ';')

ap = dados['Tipo'] == 'Apartamento'
n1 = dados[ap].shape[0]

selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]

selecao_area = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao_area].shape[0]

selecao2 = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao2].shape[0]

suite = (dados['Suites'] > 0)
n5 = dados[suite].shape[0]


print("Nº de imóveis classificados com tipo 'Apartamento' -> {}".format(n1))
print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> {}".format(n2))
print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(n3))
print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(n4))
print("Nº de imóveis que tenham pelo menos 1 quarto com Suíte -> {}".format(n5))

## Exercicios Relatório

In [ ]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])

In [ ]:
alunos

### Crie um DataFrame somente com os alunos aprovados.

In [ ]:
aprovados = alunos['Aprovado'] == True
alunos[aprovados]

###Crie um DataFrame somente com as alunas aprovadas.

In [ ]:
aprovadas = (alunos['Aprovado'] == True) & (alunos['Sexo'] == 'F')
alunos[aprovadas]

###Crie apenas uma visualização dos alunos com idade entre 10 e 20 anos ou com idade maior ou igual a 40 anos.

In [ ]:
selecao = (alunos['Idade'] > 10) & (alunos['Idade'] < 20) | (alunos['Idade'] >= 40)

alunos[selecao]

###Crie um DataFrame somente com os alunos reprovados e mantenha neste DataFrame apenas as colunas Nome, Sexo e Idade, nesta ordem.

In [ ]:
selecao = alunos['Aprovado'] == False

reprovados = alunos[['Nome', 'Sexo', 'Idade']][selecao]
reprovados

###Crie uma visualização com os três alunos mais novos.

In [ ]:
alunos.sort_values(by = 'Idade', inplace = True)

alunos.iloc[:3]

## Relatório de Análise V

###Tratamento de Dados Faltantes

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv()